:root {
  --black: #030303;
  --white: #FCFCFC;
  --passive-white: #F5F5F5;
  --grey: #4B5563;
  --blue: #234B68;
  --active-blue: #29517F;
  --orange: #FF822E;
}

/*------------CORPS--------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--passive-white);
  color: var(--blue);
  min-height: 100vh;
}

header, footer {
  margin: 15px;
  padding: 20px;
  min-height: 30%;
  text-align: center;
}

main {
  align-self: center;
  width: 65%;
  border: 2px solid var(--blue);
  border-radius: 15px;
  text-align: center;
  background-color: var(--white);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*---------FORMULAIRE------------*/

form {
  height: 100%;
  width: 50%;
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.form-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.form-label {
  text-align: left;
  width: 40%;
}

.form-control {
  text-align: right;
  display: flex;
  width: 60%;
  border: 1px solid var(--blue);
  border-radius: 0 5px 5px 0;
  overflow: none;
}

.form-control:hover {
  border-color: var(--black);
}

.form-control:focus-within {
	border: 1px solid var(--orange);
}

input {
  width: 80%;
  border: none;
  outline: none;
}

button {
  align-self: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--blue);
  color: var(--white);
  width: 30%;
  cursor: pointer;
}

button:hover {
  background-color: var(--active-blue);
}

span {
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  width: 20%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.item {
  padding: 40px;
}

.danger {
  color: var(--orange);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
